<app-mast-head>

</app-mast-head>
<div class="container-fluid padding" style="background-color:#e0dddf">


  <div class="row">
    <h2 class="theme-color text-center bold"> OUR PRODUCTS</h2>
  </div>

  <div class="row more-padding">


    <div class="col-md-4">

      <div class="products">
        <h5 class="bold">BARK BOX</h5>
        <div class="product-text">
          <img src="assets/images/product1.png" class="img-responsive  img-rounded iconimg">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus must </p>
        </div>
      </div>


    </div>

    <div class="col-md-4">


      <div class="products">
        <h5 class="bold">PET SANITARY PAD</h5>
        <div class="product-text">
          <img src="assets/images/product2.png" class="img-responsive  img-rounded iconimg">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus must </p>
        </div>
      </div>


    </div>

    <div class="col-md-4">

      <div class="products">
        <h5 class="bold">TRACKING CHIP</h5>
        <div class="product-text">
          <img src="assets/images/product3.png" class="img-responsive  img-rounded iconimg">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus must </p>
        </div>
      </div>



    </div>


  </div>
</div>
<app-mast-footer>

</app-mast-footer>