<app-mast-head>

</app-mast-head>
<div class="container-fluid padding" style="background-color:#e0dddf">


  <div class="row">
    <h2 class="theme-color text-center bold"> OUR PRODUCTS</h2>
  </div>

  <div class="row more-padding">


    <div class="col-md-4">

      <div class="products">
        <h5 class="bold">Paw's Wonder</h5>
        <div class="product-text">
          <img src="assets/images/product1.png" class="img-responsive  img-rounded iconimg">

          <p>Be it birthday's, be it anniversaries, the most exciting part of it all, is the gifts we receive. Just like
            we wait for gifts, our furry friends wait for them too. Pet Pals presents Paw's Wonder, a wonderful gift box
            for your dog that has toys, treats and essentials. Surprise your little furry friends every month with Paw's
            Wonder, we are sure they will love their gift box. </p>
        </div>
      </div>


    </div>

    <div class="col-md-4">


      <div class="products">
        <h5 class="bold">Sanitary Pads
        </h5>
        <div class="product-text">
          <img src="assets/images/product2.png" class="img-responsive  img-rounded iconimg">

          <p>Babies need diapers as they can't tell us, they need to use the washroom. Our furry friends are like these
            innocent, little babies that can't tell us, they need to use the washroom, be it while traveling or be it as
            soon as you have moped the floor, be it for puppies or dogs, Pet Pals presents diapers for pets at
            reasonable prices and good quality, that will ensure hygiene when you are traveling or when your pet is
            still a puppy. Order one if you have a little one! </p>
        </div>
      </div>


    </div>

    <div class="col-md-4">

      <div class="products">
        <h5 class="bold">Upcoming GPS Trackers
        </h5>
        <div class="product-text">
          <img src="assets/images/product3.png" class="img-responsive  img-rounded iconimg">

          <p>Pets at home are a part of our family. When we call out their names, if they don't turn up, we tend to skip
            a heartbeat. To ensure the safety of pets, be it when your pet is in the garden or when he is in the
            boarding house, Pet Pals will soon be introducing GPS Trackers that will show you the location of your pet
            on our application. Grab one for your Pet as soon as we launch it! </p>
        </div>
      </div>



    </div>


  </div>
</div>
<app-mast-footer>

</app-mast-footer>