<app-mast-head>

</app-mast-head>


	<!-- About Us -->
  <div class="container-fluid padding" style="background-color:#e0dddf">
		
		
		<div class="row">
		<h2 class="theme-color text-center bold"> ABOUT US</h2>
		</div>
		
		<div class="row more-padding">
		
			
				
	<div class="col-sm-12 ">
     

			  <ul class="nav nav-tabs responsive-tabs tabbedpanel">
				<li class="active"><a href="#home1">OUR TEAM </a></li>
				<li><a href="#profile1">OUR PHILOSOPHY </a></li>
				<li><a href="#messages1">OUR ADVISORY BOARD </a></li>
				
			  </ul>
	  
      <div class="tab-content ">
        <div class="tab-pane sub-tabs active" id="home1">
         
			<div class="row">
			
				<div class="col-md-4 white-color">
				<img src="../assets/images/babywithdog.png" class="img-responsive img-rounded" />
				</div>
				
				<div class="col-md-8 white-bg-color container-text">
				<h3 class="theme-color">We care for your pets as if they were OURS</h3>
				<p>
				We are a platform for all service providers and pet lovers who can find all needs of pets at one place. Our love towards pets has made us build this platform which was missing until now. We welcome pet lovers to share their pride with others, while others appreciate your love towards pets. This platform is full of opportunities for pet lovers and service providers alike.
				<br><br><br><br><br>
				</p>
				
				</div>
			
			</div>
		 
		 
        </div>

        <div class="tab-pane sub-tabs" id="profile1">
         
		 <div class="row">
			
				<div class="col-md-4 white-color">
				<img src="../assets/images/cat.png" class="img-responsive img-rounded" />
				</div>
				
				<div class="col-md-8 white-bg-color container-text">
				<h3 class="theme-color">Our Philosophy</h3>
				<p>
				Pets bring happiness to the world. Our philosophy is to bring pets and humans together and increase the compassion on the planet. We believe that right from children to adults pets have a healing impact on each other. They bond and grow with each other and learn to care for each other. We feel this is the best way to make this planet a better place to live.</p>
				<p>If you can find a place for a pet in your heart, and a little space on your phone for our app, we can do wonders together! Come join us and love more, care more and give more!
				<br><br><br>
				</p>
				
				</div>
			
			</div>
		 
		 
		 
        </div>

        <div class="tab-pane sub-tabs" id="messages1">
          <div class="row">
			
				<div class="col-md-4 white-color">
				<img src="../assets/images/phani.png" class="img-responsive img-rounded" />
				</div>
				
				<div class="col-md-8 white-bg-color container-text">
				<h3 class="theme-color">Raj N Phani</h3>
				<h6 class="theme-color">Entrepreneur</h6>
				<p>
				Chances are, if you've spoken to Raj at any length of time, you've ended up discussing ideation of your business, its strategy and execution.</p>
				<p>
				Raj is a serial entrepreneur having built successful businesses in the prepaid payment, internet, retail and brand merchandising spaces. Seeds of his success began early, when at age 18 he sold custom t-shirts in after-school hours. Raj founded Zaggle as a network agnostic payment platform on which merchants and consumers could seamlessly interact. He is a key contributor in the Indian startup ecosystem, a true visionary known for being a sounding board, mentor and angel investor to entrepreneurs and startups across a wide spectrum.</p>
				
				
				</div>
			
			</div>
        </div>

       
      </div>
	  </div>

		
		
		
		
		
		
		
		
		</div>
		</div>
		<!-- end of about us -->
		
		
		











<app-mast-footer>

</app-mast-footer>