<app-mast-head>
</app-mast-head>
<div class="container-fluid container-fluid-minheight" style="background-color:#e0dddf">
  <div class="row">
    <h2 class="theme-color text-center bold">Pet Details</h2>
  </div>
  <div class="row more-padding ">
    <!-- Listing Start -->
    <div class="col-md-12 ">
      <div class="row listing">
        <div class="col-md-4 col-xs-12 ">
          <center>
            <img src="{{petData.PictrueName}}" class="img-responsive img-rounded listing-mobile" />
          </center>
        </div>
        <div class="col-md-8 col-xs-12" *ngIf="!petType">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="theme-color listname">{{petData.PetName}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5">Pet Type</div>
            <div class="col-xs-7 l-text">{{petData.PetType}}</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Description</div>
            <div class="col-xs-7 l-text">{{petData.Description}}</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Breed</div>
            <div class="col-xs-7 l-text">{{petData.BreedName}}</div>
          </div>

          <div class="row">
            <div class="col-xs-5">Date of Birth</div>
            <div class="col-xs-7 l-text">{{petData.PetDob}}</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Gender</div>
            <div class="col-xs-7 l-text">{{petData.PetGender}}</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Color</div>
            <div class="col-xs-7 l-text">{{petData.Colors}}</div>
          </div>
          <div class="row">
            <div class="col-xs-5">City</div>
            <div class="col-xs-7 l-text">{{petData.CityName}}</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Area Name</div>
            <div class="col-xs-7 l-text">{{petData.AreaName}}</div>
          </div>
          <div class="row">
            <div class="col-md-4 col-xs-6">
              <center>
                <a class="btn btn-danger contact-button" #fileInput><i class="fa fa-address-book" aria-hidden="true"></i>
                  &nbsp;contact </a>
              </center>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-xs-12" *ngIf="petType">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="theme-color listname">{{petData.PetName}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5">Service Type</div>
            <div class="col-xs-7 l-text">{{petType}}</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Description</div>
            <div class="col-xs-7 l-text">{{petData.Description}}</div>
          </div>
          <div class="row">
            <div class="col-xs-5">City</div>
            <div class="col-xs-7 l-text">{{petData.CityName}}</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Area Name</div>
            <div class="col-xs-7 l-text">{{petData.AreaName}}</div>
          </div>
          <div class="row">
            <div class="col-md-4 col-xs-6">
              <center>
                <a class="btn btn-danger contact-button" #fileInput><i class="fa fa-address-book" aria-hidden="true"></i>
                  &nbsp;contact </a>
              </center>
            </div>
          </div>
        </div>
      </div>



    </div>

    <!-- Listing End -->




  </div>


</div>

<div class="modal" id="DeletePetModal" [ngStyle]="{'display':displayModal}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Pet Love Request
        </h4>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" *ngIf="myPets.length>=1&&myPets[0].PetId !=1">
        <h5>Please Select pet to send request</h5>
      </div>
      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-8" *ngIf="myPets.length==1&&myPets[0].PetId ==1">
          <div class="row">
            <div class="col-xs-8 l-text">
              <h3 class="theme-color listname">{{myPets[0].PetName}}</h3>
            </div>
          </div>
        </div>

        <div class="col-xs-4" *ngIf="myPets.length>=1&&myPets[0].PetId !=1">
          <select name="selectPet" [(ngModel)]="selectedPetForLove" class="form-control">
            <!-- <option selected>City </option> -->
            <option *ngFor="let myPet of myPets" [ngValue]="myPet.PetId">{{myPet.PetName}}</option>
          </select>
        </div>
        <div class="col-xs-4" *ngIf="myPets.length>=1&&myPets[0].PetId !=1"></div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" [disabled]="petLoveRequestDisabled" class="btn btn-info" (click)="petLoveRequest()">Send</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="boardingModal" [ngStyle]="{'display':displayBoardingModal}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Boarding Request Details
        </h4>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <label>Start Date<sup style="color: red">*</sup></label>
          <input type="date" class="form-control" [(ngModel)]="boardingStartDate">
        </div>
        <div class="form-group">
          <label>End Date<sup style="color: red">*</sup></label>
          <input type="date" class="form-control" [(ngModel)]="boardingEndDate">
        </div>
        <div class="form-group">
          <label>Select Breed</label>
          <select class="form-control" [(ngModel)]="selectedBreed" name="BreedName">
            <option *ngFor="let breed of breedList" value="{{breed.BreedId}}">{{breed.BreedName}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>No of Days</label>
          <input type="number" class="form-control" [(ngModel)]="selectedNumberOfDays">
        </div>
        <div class="form-group">
          <label>Food Type</label>
          <select class="form-control" [(ngModel)]="selectedFoodOption">
            <option value="Non Veg">
              Non Veg
            </option>
            <option value="Veg">
              Veg
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Pickup Drop Needed</label>
          <select class="form-control" [(ngModel)]="selectedPickupDrop">
            <option value="1">
              Yes
            </option>
            <option value="0">
              No
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Other Requirements</label>
          <input type="text" class="form-control" [(ngModel)]="otherRequirements">
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="petBoardingRequest()">Send</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="commonModal" [ngStyle]="{'display':displayCommonModal}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{petType}} Request Details
        </h4>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure want to place the request?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="petCommonModalRequest()">Send</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
      </div>

    </div>
  </div>
</div>


<app-mast-footer>
</app-mast-footer>