<app-mast-head>

</app-mast-head>
<div class="container-fluid padding" style="background-color:#e0dddf">


	<div class="row">
		<h2 class="theme-color text-center bold">PETLOVE</h2>
	</div>

	<div class="row more-padding ">


		<div class="row " style="padding:20px;">

			<div class="input-group inner-addon left-addon">
				<i class="glyphicon glyphicon-search" (click)="searchTextFilter()"></i>
				<input type="text" class="form-control" [(ngModel)]="filterText" style="line-height: 2;height:auto;" (keyup)="$event.keyCode == 13 ? searchTextFilter() : null">
				<span class="input-group-btn" style="padding-left:1%;">
					<button class="btn btn-default filter" type="button" (click)="showHideFilter()">FILTER</button>
				</span>
			</div>
		</div>

		<div class="row filtercolor" *ngIf="hideShowFilter">
			<div *ngIf="!searchService">
				<div class="col-md-3">

					<div class="block">

						<h5>PET TYPE</h5>
						<div *ngFor="let petType of petTypes">
							<p><label class="checkbox-inline"><input type="checkbox" (click)="petTypeChecked($event)" [checked]="selectedPetTypes.indexOf(petType)>-1"
									 value="{{petType}}">{{petType}} </label></p>
						</div>
					</div>


					<div class="block">

						<h5>GENDER</h5>
						<p><label class="checkbox-inline"><input type="checkbox" (click)="clickGender($event)" [checked]="selectedGender.indexOf('Male')>-1"
								 value="Male">Male </label></p>
						<p><label class="checkbox-inline"><input type="checkbox" (click)="clickGender($event)" [checked]="selectedGender.indexOf('Female')>-1"
								 value="Female">Female </label></p>

					</div>

					<div class="block">

						<h5>Location</h5>
						<div class="sub-location">
							<!-- <p><input type="text" class="location form-control" value="" placeholder="City"> </p>
						<p><input type="text" class="location form-control" value="" placeholder="Area"> </p> -->

							<select name="City" [(ngModel)]="selectedCity" class="form-control" (change)="onCityChange()">
								<!-- <option selected>City </option> -->
								<option *ngFor="let city of cityList" [ngValue]="city">{{city.CityName}}</option>
							</select>
							<br />
							<select name="Area" [(ngModel)]="selectedArea" class="form-control">
								<!-- <option selected>Area </option> -->
								<option *ngFor="let area of areaList" [ngValue]="area">{{area.AreaName}}</option>
							</select>
						</div>

					</div>

					<div class="block">

						<h5>GENERAL</h5>
						<p><label class="checkbox-inline"><input type="checkbox" [(ngModel)]="selectedKCI" value="1">KCI Registered
							</label></p>
					</div>

					<div class="block">

						<h5>AGE</h5>
						<p><input type="text" class="location form-control" numbersOnly [(ngModel)]="enteredAge" placeholder="Age in months">
						</p>
						<!-- <p><label class="checkbox-inline"><input type="checkbox" value="">
							<1 Month </label> </p> <p><label class="checkbox-inline"><input type="checkbox" value="">
									<3 Months </label> </p> <p><label class="checkbox-inline"><input type="checkbox" value="">
											<6 Months </label> </p> <p><label class="checkbox-inline"><input type="checkbox" value="">> Year </label></p>
				-->
					</div>
				</div>
				<div class="col-md-9">

					<div class="block">

						<h5>BREED</h5>

						<hr>
						<span *ngFor="let breed of breeds;index as i">
							<div [ngSwitch]="i % 3">
								<div class="col-md-4" *ngSwitchCase="0">
									<p><label class="checkbox-inline"><input type="checkbox" [(ngModel)]="breed.checked" value="{{breed.BreedId}}">{{breed.BreedName}}</label></p>
								</div>
								<div class="col-md-4" *ngSwitchCase="1">
									<p><label class="checkbox-inline"><input type="checkbox" [(ngModel)]="breed.checked" value="{{breed.BreedId}}">{{breed.BreedName}}</label></p>
								</div>
								<div class="col-md-4" *ngSwitchCase="2">
									<p><label class="checkbox-inline"><input type="checkbox" [(ngModel)]="breed.checked" value="{{breed.BreedId}}">{{breed.BreedName}}</label></p>
								</div>
							</div>
						</span>
					</div>


				</div>
			</div>
			<div *ngIf="searchService">
				<div class="col-md-3">


					<div class="block">

						<h5>Location</h5>
						<div class="sub-location">
							<!-- <p><input type="text" class="location form-control" value="" placeholder="City"> </p>
						<p><input type="text" class="location form-control" value="" placeholder="Area"> </p> -->

							<select name="City" [(ngModel)]="selectedCity" class="form-control" (change)="onCityChange()">
								<!-- <option selected>City </option> -->
								<option *ngFor="let city of cityList" [ngValue]="city">{{city.CityName}}</option>
							</select>
							<br />
							<select name="Area" [(ngModel)]="selectedArea" class="form-control">
								<!-- <option selected>Area </option> -->
								<option *ngFor="let area of areaList" [ngValue]="area">{{area.AreaName}}</option>
							</select>
						</div>

					</div>

				</div>
			</div>
			<div class="col-md-12 filter-bottom">
				<button type="button" class="btn btn-default pull-left" (click)="showHideFilter()">CLOSE</button>
				<button type="button" class="btn btn-default pull-right" (click)="applyFilter()">SUBMIT</button>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid " style="background-color:#e0dddf" *ngIf="show">
	<div class="row more-padding ">
		<div class="col-md-6 " *ngFor="let pet of petData">
			<div class="row listing">
				<div class="col-md-4 col-xs-12 " *ngIf="searchService">
					<center>
						<img src={{pet.PictrueName}} style="height: 110px; width: 120px;" class="img-responsive img-rounded listing-mobile" />
						<a [routerLink]="['/petdetails',searchService,pet.PetId]" class="btn btn-danger contact-button"><i class="fa fa-address-book"
							 aria-hidden="true"></i> &nbsp;contact </a>
					</center>
				</div>
				<div class="col-md-4 col-xs-12 " *ngIf="!searchService">
					<center>
						<img src={{pet.PictrueName}} style="height: 110px; width: 120px;" class="img-responsive img-rounded listing-mobile" />
						<a [routerLink]="['/petdetails',pet.PetId]" class="btn btn-danger contact-button"><i class="fa fa-address-book"
							 aria-hidden="true"></i> &nbsp;contact </a>
					</center>
				</div>

				<div class="col-md-8 col-xs-12" *ngIf="!searchService">
					<div class="row">
						<div class="col-xs-12">
							<h3 class="theme-color listname">{{pet.PetName}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Pet Type</div>
						<div class="col-xs-7 l-text">{{pet.PetType}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Description</div>
						<div class="col-xs-7 l-text">{{pet.Description}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Breed</div>
						<div class="col-xs-7 l-text">{{pet.BreedName}}</div>
					</div>

					<div class="row">
						<div class="col-xs-5">Date of Birth</div>
						<div class="col-xs-7 l-text">{{pet.PetDob}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Gender</div>
						<div class="col-xs-7 l-text">{{pet.PetGender}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Color</div>
						<div class="col-xs-7 l-text">{{pet.Colors}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">City</div>
						<div class="col-xs-7 l-text">{{pet.CityName}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Area Name</div>
						<div class="col-xs-7 l-text">{{pet.AreaName}}</div>
					</div>
				</div>
				<div class="col-md-8 col-xs-12" *ngIf="searchService">
					<div class="row">
						<div class="col-xs-12">
							<h3 class="theme-color listname">{{pet.PetName}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Service Type</div>
						<div class="col-xs-7 l-text">{{searchService}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Description</div>
						<div class="col-xs-7 l-text">{{pet.Description}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">City</div>
						<div class="col-xs-7 l-text">{{pet.CityName}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Area Name</div>
						<div class="col-xs-7 l-text">{{pet.AreaName}}</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-4" *ngIf="petData.length==0">
			<img width="100%" src="assets/images/noresult.png">
		</div>
	</div>
</div>
<div [innerHtml]="myTemplate">
</div>
<app-mast-footer>
</app-mast-footer>