<app-mast-head>

</app-mast-head>
<div class="container-fluid" style="background-color:#e0dddf">


	<div class="row" style="margin-right:0px;">
		<h2 *ngIf="!searchService" class="theme-color text-center bold">Pet Love</h2>
		<h2 *ngIf="searchService" class="theme-color text-center bold">{{searchService}}</h2>
		<div class="row">

			<div class="col-md-3"></div>
			<div *ngIf="!searchService" class="col-md-6 white-bg-color container-text">
				<p>We help people find a mate for their pet, being single is not appreciated by humans. Having love is
					one of the basics for humans, why would that not be the case for our pets. Feelings are same across
					all. We are here to help Find Pet Love. Give us a chance and we will be able to help you with it.
				</p>
			</div>
			<div *ngIf="searchService&&searchService=='Boarding'" class="col-md-6 white-bg-color container-text">
				<p>We have the best of the boarding agencies registered with us
					· It is not possible to be home all the time with pets and it is not practical to leave our pets
					home alone too.
					We have the choice to let your pets have the pampering with our boarding services.
				</p>
			</div>
			<div *ngIf="searchService&&searchService=='Spa'" class="col-md-6 white-bg-color container-text">
				<p>Pet Spa and Grooming agencies who have very good services have joined hands with us, if you are under
					the assumption that pets don't have SPA, you have mistaken. We understand the need for Pet Spa. All
					it requires is to pay a visit to one of our Spa's and you will see the transformation that we can
					bring in for your pets.
				</p>
			</div>
			<div *ngIf="searchService&&searchService=='Adoption'" class="col-md-6 white-bg-color container-text">
				<p>Fluffly Nut will be joining hands with us soon. We support adoptions and help pets get a new, loving
					and a
					comfortable home.
					· Do you need a black one or a white one or a dotted one or some other choice. No worries, we have
					all covered. If
					there is a pet in town available for adoption, you are guaranteed to have it as your pet.
				</p>
			</div>
			<div *ngIf="searchService&&searchService=='Trainer'" class="col-md-6 white-bg-color container-text">
				<p>We have dog trainers who have joined us, who provide basic and customized training for dogs. Who
					doesn't like well-behaved pets? Would you like to showcase a few stunts that your dog can perform?
					We have trainers who can help you with basic and advanced training for your pets, all you have to do
					is go through the list and choose what suits you the best.</p>
			</div>
			<div *ngIf="searchService&&searchService=='Cab'" class="col-md-6 white-bg-color container-text">
				<p>We have pet cabs available too. History taught us that all do not welcome the pets in their cabs.
					Reasons may be different but the result remains the same. We have tied up with the cab service
					providers, who will never say no, in terms of accommodating pets in their cabs. All it needs is a
					click to book a cab.</p>
			</div>
			<div *ngIf="searchService&&searchService=='Rescuer'" class="col-md-6 white-bg-color container-text">
				<p>Domlur Dog Park and PFA have joined hands with us for rescues. We understand the social
					responsibility in terms of saving animals, if you find animals that are in a bad state and need
					help, reach out to our rescuers and they will try their level best to help the animal.</p>
			</div>
			<div *ngIf="searchService&&searchService=='Walker'" class="col-md-6 white-bg-color container-text">
				<p> We have pet walkers, who are good at taking dogs for their regular walks. Has time become a
					constraint to take your dog for walks? no worries, we are here to help you with it. We can have the
					professional walkers handle it for you. All you need to do is. let the walker know is your
					requirements. They will ensure it is executed.</p>
			</div>
			<div *ngIf="searchService&&searchService=='Volunteers'" class="col-md-6 white-bg-color container-text">
				<p> We have volunteers who love pets, who are ready to help pets in absence of their owners, be it
					feeding them or
					looking after them for a certain period of time</p>
			</div>
			<div class="col-md-3 "></div>

		</div>

	</div>

	<div class="row more-padding ">
		<div class="row " style="padding:20px;">

			<div class="input-group inner-addon left-addon">
				<i class="glyphicon glyphicon-search" (click)="searchTextFilter()"></i>
				<input type="text" class="form-control" [(ngModel)]="filterText" style="height: 43px;"
					(keyup)="$event.keyCode == 13 ? searchTextFilter() : null">
				<span class="input-group-btn" style="padding-left:1%;">
					<button class="btn btn-default filter" type="button" (click)="showHideFilter()">FILTER</button>
				</span>
			</div>
		</div>

		<div class="row filtercolor" *ngIf="hideShowFilter">
			<div *ngIf="!searchService">
				<div class="col-md-3">

					<div class="block">

						<h5>PET TYPE</h5>
						<div *ngFor="let petType of petTypes">
							<p><label class="checkbox-inline"><input type="checkbox" (click)="petTypeChecked($event)"
										[checked]="selectedPetTypes.indexOf(petType)>-1" value="{{petType}}">{{petType}}
								</label></p>
						</div>
					</div>


					<div class="block">

						<h5>GENDER</h5>
						<p><label class="checkbox-inline"><input type="checkbox" (click)="clickGender($event)"
									[checked]="selectedGender.indexOf('Male')>-1" value="Male">Male </label></p>
						<p><label class="checkbox-inline"><input type="checkbox" (click)="clickGender($event)"
									[checked]="selectedGender.indexOf('Female')>-1" value="Female">Female </label></p>

					</div>

					<div class="block">

						<h5>Location</h5>
						<div class="sub-location">
							<!-- <p><input type="text" class="location form-control" value="" placeholder="City"> </p>
						<p><input type="text" class="location form-control" value="" placeholder="Area"> </p> -->

							<select name="City" [(ngModel)]="selectedCity" class="form-control"
								(change)="onCityChange()">
								<!-- <option selected>City </option> -->
								<option *ngFor="let city of cityList" [ngValue]="city">{{city.CityName}}</option>
							</select>
							<br />
							<select name="Area" [(ngModel)]="selectedArea" class="form-control">
								<!-- <option selected>Area </option> -->
								<option *ngFor="let area of areaList" [ngValue]="area">{{area.AreaName}}</option>
							</select>
						</div>

					</div>

					<div class="block">

						<h5>GENERAL</h5>
						<p><label class="checkbox-inline"><input type="checkbox" [(ngModel)]="selectedKCI" value="1">KCI
								Registered
							</label></p>
					</div>

					<div class="block">

						<h5>AGE</h5>
						<p><input type="text" class="location form-control" numbersOnly [(ngModel)]="enteredAge"
								placeholder="Age in months">
						</p>
						<!-- <p><label class="checkbox-inline"><input type="checkbox" value="">
							<1 Month </label> </p> <p><label class="checkbox-inline"><input type="checkbox" value="">
									<3 Months </label> </p> <p><label class="checkbox-inline"><input type="checkbox" value="">
											<6 Months </label> </p> <p><label class="checkbox-inline"><input type="checkbox" value="">> Year </label></p>
				-->
					</div>
				</div>
				<div class="col-md-9">

					<div class="block">

						<h5>BREED</h5>

						<hr>
						<span *ngFor="let breed of breeds;index as i">
							<div [ngSwitch]="i % 3">
								<div class="col-md-4" *ngSwitchCase="0">
									<p><label class="checkbox-inline"><input type="checkbox" [(ngModel)]="breed.checked"
												value="{{breed.BreedId}}">{{breed.BreedName}}</label></p>
								</div>
								<div class="col-md-4" *ngSwitchCase="1">
									<p><label class="checkbox-inline"><input type="checkbox" [(ngModel)]="breed.checked"
												value="{{breed.BreedId}}">{{breed.BreedName}}</label></p>
								</div>
								<div class="col-md-4" *ngSwitchCase="2">
									<p><label class="checkbox-inline"><input type="checkbox" [(ngModel)]="breed.checked"
												value="{{breed.BreedId}}">{{breed.BreedName}}</label></p>
								</div>
							</div>
						</span>
					</div>


				</div>
			</div>
			<div *ngIf="searchService">
				<div class="col-md-3">


					<div class="block">

						<h5>Location</h5>
						<div class="sub-location">
							<!-- <p><input type="text" class="location form-control" value="" placeholder="City"> </p>
						<p><input type="text" class="location form-control" value="" placeholder="Area"> </p> -->

							<select name="City" [(ngModel)]="selectedCity" class="form-control"
								(change)="onCityChange()">
								<!-- <option selected>City </option> -->
								<option *ngFor="let city of cityList" [ngValue]="city">{{city.CityName}}</option>
							</select>
							<br />
							<select name="Area" [(ngModel)]="selectedArea" class="form-control">
								<!-- <option selected>Area </option> -->
								<option *ngFor="let area of areaList" [ngValue]="area">{{area.AreaName}}</option>
							</select>
						</div>

					</div>

				</div>
			</div>
			<div class="col-md-12 filter-bottom">
				<button type="button" class="btn btn-default pull-left" (click)="showHideFilter()">CLOSE</button>
				<button type="button" class="btn btn-default pull-right" (click)="applyFilter()">SUBMIT</button>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid container-fluid-200height" style="background-color:#e0dddf" *ngIf="show">
	<div class="row more-padding ">
		<div class="col-md-6 " *ngFor="let pet of petData">
			<div class="row listing">
				<div class="col-md-4 col-xs-12 " *ngIf="searchService">
					<center>
						<img src={{pet.PictrueName}} style="height: 110px; width: 120px;"
							class="img-responsive img-rounded listing-mobile" />
						<a [routerLink]="['/petdetails',searchService,pet.PetId]"
							class="btn btn-danger contact-button"><i class="fa fa-address-book" aria-hidden="true"></i>
							&nbsp;contact </a>
					</center>
				</div>
				<div class="col-md-4 col-xs-12 " *ngIf="!searchService">
					<center>
						<img src={{pet.PictrueName}} style="height: 110px; width: 120px;"
							class="img-responsive img-rounded listing-mobile" />
						<a [routerLink]="['/petdetails',pet.PetId]" class="btn btn-danger contact-button"><i
								class="fa fa-address-book" aria-hidden="true"></i> &nbsp;contact </a>
					</center>
				</div>

				<div class="col-md-8 col-xs-12" *ngIf="!searchService">
					<div class="row">
						<div class="col-xs-12">
							<h3 class="theme-color listname">{{pet.PetName}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Pet Type</div>
						<div class="col-xs-7 l-text">{{pet.PetType}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Description</div>
						<div class="col-xs-7 l-text">{{pet.Description}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Breed</div>
						<div class="col-xs-7 l-text">{{pet.BreedName}}</div>
					</div>

					<div class="row">
						<div class="col-xs-5">Date of Birth</div>
						<div class="col-xs-7 l-text">{{pet.PetDob}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Gender</div>
						<div class="col-xs-7 l-text">{{pet.PetGender}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Color</div>
						<div class="col-xs-7 l-text">{{pet.Colors}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">City</div>
						<div class="col-xs-7 l-text">{{pet.CityName}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Area Name</div>
						<div class="col-xs-7 l-text">{{pet.AreaName}}</div>
					</div>
				</div>
				<div class="col-md-8 col-xs-12" *ngIf="searchService">
					<div class="row">
						<div class="col-xs-12">
							<h3 class="theme-color listname">{{pet.PetName}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Service Type</div>
						<div class="col-xs-7 l-text">{{searchService}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Description</div>
						<div class="col-xs-7 l-text">{{pet.Description}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">City</div>
						<div class="col-xs-7 l-text">{{pet.CityName}}</div>
					</div>
					<div class="row">
						<div class="col-xs-5">Area Name</div>
						<div class="col-xs-7 l-text">{{pet.AreaName}}</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-4" *ngIf="petData.length==0">
			<img width="100%" src="assets/images/noresult.png">
		</div>
	</div>
</div>
<app-mast-footer>
</app-mast-footer>