<app-mast-head>

</app-mast-head>


<!-- About Us -->
<div class="container-fluid padding" style="background-color:#e0dddf">
		
		
  <div class="row">
  <h2 class="theme-color text-center bold"> EVENTS</h2>
  </div>
  </div>
      
    
  <!-- end of about us -->
  
  <!-- listings -->
  <div class="container-fluid padding" style="background-color:#e0dddf">
  
    <div class="row more-padding full-padding" >
    
    
      <div class="col-md-4 full-padding">
      <div class="img-container">
        <img src="assets/images/event1.png" alt="image" style="width:100%;">
        <div class="text-block"> 
        <center>
        <h2>01</h2>
        <h3>DEC</h3>
       </center>
        </div>
      </div>				
      </div>
      
      
      <div class="col-md-4 full-padding">
      <div class="img-container">
        <img src="assets/images/event2.png" alt="image" style="width:100%;">
        <div class="text-block"> 
        <center>
        <h2>01</h2>
        <h3>DEC</h3>
       </center>
        </div>
      </div>				
      </div>
      
      
      <div class="col-md-4 full-padding">
      <div class="img-container">
        <img src="assets/images/event3.png" alt="image" style="width:100%;">
        <div class="text-block"> 
        <center>
        <h2>01</h2>
        <h3>DEC</h3>
       </center>
        </div>
      </div>				
      </div>
    </div>
    <div class="row more-padding " >

      <div class="col-md-4 full-padding">
      <div class="img-container">
        <img src="assets/images/event4.png" alt="image" style="width:100%;">
        <div class="text-block"> 
        <center>
        <h2>01</h2>
        <h3>DEC</h3>
       </center>
        </div>
      </div>				
      </div>
      
      <div class="col-md-4 full-padding">
      <div class="img-container">
        <img src="assets/images/event5.png" alt="image" style="width:100%;">
        <div class="text-block"> 
        <center>
        <h2>01</h2>
        <h3>DEC</h3>
       </center>
        </div>
      </div>				
      </div>
      
      <div class="col-md-4 full-padding">
      <div class="img-container">
        <img src="assets/images/event6.png" alt="image" style="width:100%;">
        <div class="text-block"> 
        <center>
        <h2>01</h2>
        <h3>DEC</h3>
       </center>
        </div>
      </div>				
      </div>
      
      
      

      
      
      
      
    </div>
    
    
    
    
    
    
  
  </div>
  
  <!-- end of listings -->











<app-mast-footer>

</app-mast-footer>