<app-mast-head>

</app-mast-head>




<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 heading1">
      One Stop Platform for all your Pet Needs
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row" style="margin:10px;">

    <div class="col-md-8 col-md-offset-2 services">
        <div class="row">
            <div class="col-md-2 col-xs-3">
              <div class="icon">
                <center><a [routerLink]="['/petlove']"> <img *ngIf="deferLoad" src="assets/images/1.png" class="img-responsive"></a></center>
                <p>Pet Love</p>
              </div>
            </div>
            <div class="col-md-2 col-xs-3">
              <div class="icon">
                <center><a (click)="onExternalLinkClick('snapdeal')"> <img *ngIf="deferLoad" src="assets/images/2.png"
                      class="img-responsive"></a></center>
                <p>Pet Needs</p>
              </div>
            </div>
            <div class="col-md-2 col-xs-3">
              <div class="icon">
                <center><a [routerLink]="['/petlove']"> <img *ngIf="deferLoad" src="assets/images/3.png" class="img-responsive"></a></center>
                <p>Stores</p>
              </div>
            </div>
            <div class="col-md-2 col-xs-3">
              <div class="icon">
                <center><a [routerLink]="['/petlove/Allied/Clinic']"> <img *ngIf="deferLoad" src="assets/images/4.png"
                      class="img-responsive"></a></center>
                <p>Vet Clinic</p>
              </div>
            </div>
            <div class="col-md-2 col-xs-3">
              <div class="icon">
                <center><a [routerLink]="['/petlove/Allied/Walker']"> <img src="assets/images/5.png" class="img-responsive"></a></center>
                <p>Pet Walker</p>
              </div>
            </div>
            <div class="col-md-2 col-xs-3 ">
              <div class="icon">
                <center><a [routerLink]="['/petlove/Allied/Adoption']"> <img src="assets/images/6.png" class="img-responsive"></a></center>
                <p>Adoption</p>
              </div>
            </div>
  
            <div class="col-md-2 col-xs-3 ">
              <div class="icon">
                <center><a [routerLink]="['/petlove/Allied/Boarding']"> <img src="assets/images/7.png" class="img-responsive"></a></center>
                <p>Pet Boarding</p>
              </div>
            </div>
  
            <div class="col-md-2 col-xs-3 ">
              <div class="icon">
                <center><a [routerLink]="['/petlove/Allied/Spa']"> <img src="assets/images/8.png" class="img-responsive"></a></center>
                <p>Pet Spa</p>
              </div>
            </div>
  
            <div class="col-md-2 col-xs-3 ">
              <div class="icon">
                <center><a (click)="onExternalLinkClick('food')"> <img *ngIf="deferLoad" src="assets/images/9.png" class="img-responsive"></a></center>
                <p>Food</p>
              </div>
            </div>
  
            <div class="col-md-2 col-xs-3 ">
              <div class="icon">
                <center><a (click)="onExternalLinkClick('nutrition')"> <img *ngIf="deferLoad" src="assets/images/10.png"
                      class="img-responsive"></a></center>
                <p>Nutrition</p>
              </div>
            </div>
  
            <div class="col-md-2 col-xs-3 ">
              <div class="icon">
                <center><a [routerLink]="['/petlove/Allied/Trainer']"> <img src="assets/images/11.png" class="img-responsive"></a></center>
                <p>Trainer</p>
              </div>
            </div>
  
            <div class="col-md-2 col-xs-3 ">
              <div class="icon">
                <center><a [routerLink]="['/petlove/Allied/Cab']"> <img src="assets/images/12.png" class="img-responsive"></a></center>
                <p>Pet Cab</p>
              </div>
            </div>
  
            <div class="col-md-2 col-xs-3 ">
              <div class="icon">
                <center><a [routerLink]="['/petlove/Allied/Rescuer']"> <img src="assets/images/13.png" class="img-responsive"></a></center>
                <p>Rescuer</p>
              </div>
            </div>
  
            <div class="col-md-2 col-xs-3 ">
              <div class="icon">
                <center><a (click)="onExternalLinkClick('barbox')"> <img *ngIf="deferLoad" src="assets/images/14.png"
                      class="img-responsive"></a></center>
                <p>Bark Box</p>
              </div>
            </div>
  
            <div class="col-md-2 col-xs-3 ">
              <div class="icon">
                <center><a [routerLink]="['/petlove']"> <img *ngIf="deferLoad" src="assets/images/15.png" class="img-responsive"></a></center>
                <p>Reminder</p>
              </div>
            </div>
  
            <div class="col-md-2 col-xs-3 ">
              <div class="icon">
                <center><a (click)="onExternalLinkClick('wagandtail')"> <img style="width:50px;height:50px;" *ngIf="deferLoad"
                      src="assets/images/WL.jpg" class="img-responsive"></a></center>
                <p>Natural Food</p>
              </div>
            </div>
            <div class="col-md-2 col-xs-3 ">
              <div class="icon">
                <center><a [routerLink]="['/petlove/Allied/Volunteers']"> <img *ngIf="deferLoad" src="assets/images/16.png"
                      class="img-responsive"></a></center>
                <p>Volunteers</p>
              </div>
            </div>
          </div>
      <br><br>
    </div>

  </div>

</div>














<app-mast-footer>

</app-mast-footer>