<app-mast-head>

</app-mast-head>
<div>
  <div class="container-fluid cover">
    <div class="row" style="margin: 10px;">
      <div class="col-md-2"></div>
      <div class="col-md-8 heading">
        One Stop Platform for all your Pet Needs
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row" style="margin:10px;">

      <div class="col-md-8 col-md-offset-2 services">
        <div class="row">
          <div class="col-md-2 col-xs-3">
            <div class="icon">
              <center><a [routerLink]="['/petlove']"> <img *ngIf="deferLoad" src="assets/images/1.png" class="img-responsive"></a></center>
              <p>Pet Love</p>
            </div>
          </div>
          <div class="col-md-2 col-xs-3">
            <div class="icon">
              <center><a [routerLink]="['/petlove']"> <img *ngIf="deferLoad" src="assets/images/2.png" class="img-responsive"></a></center>
              <p>Pet Needs</p>
            </div>
          </div>
          <div class="col-md-2 col-xs-3">
            <div class="icon">
              <center><a [routerLink]="['/petlove']"> <img *ngIf="deferLoad" src="assets/images/3.png" class="img-responsive"></a></center>
              <p>Stores</p>
            </div>
          </div>
          <div class="col-md-2 col-xs-3">
            <div class="icon">
              <center><a [routerLink]="['/petlove/Allied/Clinic']"> <img *ngIf="deferLoad" src="assets/images/4.png" class="img-responsive"></a></center>
              <p>Vet Clinic</p>
            </div>
          </div>
          <div class="col-md-2 col-xs-3">
            <div class="icon">
       <center><a [routerLink]="['/petlove/Allied/Walker']"> <img  src="assets/images/5.png" class="img-responsive"></a></center>
              <p>Pet Walker</p>
            </div>
          </div>
          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
              <center><a href="adoption.html"> <img *ngIf="deferLoad" src="assets/images/6.png" class="img-responsive"></a></center>
              <p>Adoption</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
              <center><a [routerLink]="['/petlove/Allied/Boarding']"> <img  src="assets/images/7.png" class="img-responsive"></a></center>
              <p>Pet Boarding</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
              <center><a [routerLink]="['/petlove/Allied/Spa']"> <img  src="assets/images/8.png" class="img-responsive"></a></center>
              <p>Pet Spa</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
              <center><a [routerLink]="['/petlove']"> <img *ngIf="deferLoad" src="assets/images/9.png" class="img-responsive"></a></center>
              <p>Food</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
              <center><a [routerLink]="['/petlove']"> <img *ngIf="deferLoad" src="assets/images/10.png" class="img-responsive"></a></center>
              <p>Nutrition</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
              <center><a [routerLink]="['/petlove/Allied/Trainer']"> <img  src="assets/images/11.png" class="img-responsive"></a></center>
              <p>Trainer</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
              <center><a [routerLink]="['/petlove/Allied/Cab']"> <img  src="assets/images/12.png" class="img-responsive"></a></center>
              <p>Pet Cab</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
              <center><a [routerLink]="['/petlove/Allied/Rescuer']"> <img  src="assets/images/13.png" class="img-responsive"></a></center>
              <p>Rescuer</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
              <center><a [routerLink]="['/petlove']"> <img *ngIf="deferLoad" src="assets/images/14.png" class="img-responsive"></a></center>
              <p>Bark Box</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
              <center><a [routerLink]="['/petlove']"> <img *ngIf="deferLoad" src="assets/images/15.png" class="img-responsive"></a></center>
              <p>Reminder</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
              <center><a [routerLink]="['/petlove/Allied/Volunteers']"> <img *ngIf="deferLoad"  src="assets/images/16.png" class="img-responsive"></a></center>
              <p>Volunteers</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- Our Products -->
  <div class="container-fluid padding" style="background-color:#e0dddf">


    <div class="row">
      <h2 class="theme-color text-center bold"> OUR PRODUCTS</h2>
    </div>

    <div class="row more-padding">


      <div class="col-md-4">

        <div class="products">
          <h5 class="bold">BARK BOX</h5>
          <div class="product-text">
            <img *ngIf="deferLoad" src="assets/images/product1.png" class="img-responsive  img-rounded iconimg">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient
              montes, nascetur ridiculus must </p>
          </div>
        </div>


      </div>

      <div class="col-md-4">


        <div class="products">
          <h5 class="bold">PET SANITARY PAD</h5>
          <div class="product-text">
            <img *ngIf="deferLoad" src="assets/images/product2.png" class="img-responsive  img-rounded iconimg">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient
              montes, nascetur ridiculus must </p>
          </div>
        </div>


      </div>

      <div class="col-md-4">

        <div class="products">
          <h5 class="bold">TRACKING CHIP</h5>
          <div class="product-text">
            <img *ngIf="deferLoad" src="assets/images/product3.png" class="img-responsive  img-rounded iconimg">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient
              montes, nascetur ridiculus must </p>
          </div>
        </div>



      </div>


    </div>
  </div>
  <!-- end of our products -->

  <!-- how it work -->

  <div class="container-fluid padding">


    <div class="row">
      <h2 class="theme-color text-center bold"> HOW IT WORKS</h2>
    </div>


    <div class="row more-padding">


      <div class="col-md-4">

        <div class="products">
          <h5 class="bold">BOOK SERVICE</h5>
          <div class="product-text">
            <img *ngIf="deferLoad" src="assets/images/work1.png" class="img-responsive img-rounded iconimg">

            <p>
              As a pet parent you know that your pet needs the best. Whether it is grooming, training, day
              camps, pet boarding or any other type of services you would require for pets through your
              journey with the pet, PetPals will effectively guide you to the best ones. After all, you will need
              someone to take good care of your pet in your absence when you are going out of town.
              PetPals will be delighted to be of help. </p>
          </div>
        </div>


      </div>

      <div class="col-md-4">

        <div class="products">
          <h5 class="bold">MATCH</h5>
          <div class="product-text">
            <img *ngIf="deferLoad" src="assets/images/work2.png" class="img-responsive img-rounded iconimg">

            <p>PetPals app has covered all requirements of pet owners in detail, including dating &amp; mating
              services. Pet dating is for your pets when they do not have anyone to play with &amp; are feeling
              sad or lonely. It also has a social section which allows you to get in touch with other people who
              are like you in similar situation. Pet mating service is also quite important unless you are having
              a male or female of the same species. PetPals pet care app will help in finding a suitable mate
              of the same species for your pet based upon your choice.</p>
          </div>
        </div>


      </div>

      <div class="col-md-4">

        <div class="products">
          <h5 class="bold">RELAX</h5>
          <div class="product-text">
            <img *ngIf="deferLoad" src="assets/images/work3.png" class="img-responsive img-rounded iconimg">

            <p>We are a platform for all service providers and pet lovers who can find all needs of pets at one
              place. Our love towards pets has made us build this platform which was missing until now. We
              welcome pet lovers to share their pride with others, while others appreciate your love towards
              pets. This platform is full of opportunities for pet lovers and service providers alike. </p>
          </div>
        </div>


      </div>

    </div>




  </div>

  <!-- end of how it work -->

  <!-- Journey with pet   -->
  <div class="container-fluid padding" style="background-color:#e0dddf">


    <div class="row ">
      <h2 class="theme-color text-center bold"> PETPALS - JOURNEY WITH YOUR PET</h2>
    </div>

    <div class="row more-padding">


      <div class="col-md-4">


        <img *ngIf="deferLoad" src="assets/images/journey.png" class="img-rounded img-responsive">




      </div>

      <div class="col-md-8">





        <div class="product-text2">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            must Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque </p>
        </div>



      </div>


    </div>

  </div>
  <!-- end of journey -->

</div>
<app-mast-footer>

</app-mast-footer>