<app-mast-head>

</app-mast-head>
<div>
  <div class="container-fluid cover">
    <div class="row" style="margin: 10px;">
      <div class="col-md-2"></div>
      <div class="col-md-8 heading">
        One Stop Platform for all your Pet Needs
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row" style="margin:10px;">

      <div class="col-md-8 col-md-offset-2 services">
        <div class="row">
          <div class="col-md-2 col-xs-3">
            <div class="icon">
              <a  [routerLink]="['/petlove']" > <img src="../../../../assets/images/1.png" class="img-responsive"></a>
              <p>Pet Love</p>
            </div>
          </div>
          <div class="col-md-2 col-xs-3">
            <div class="icon">
              <a [routerLink]="['/petlove']"> <img src="../../../../assets/images/2.png" class="img-responsive"></a>
              <p>Pet Needs</p>
            </div>
          </div>
          <div class="col-md-2 col-xs-3">
            <div class="icon">
             <a [routerLink]="['/petlove']"> <img src="../../../../assets/images/3.png" class="img-responsive"></a>
              <p>Stores</p>
            </div>
          </div>
          <div class="col-md-2 col-xs-3">
            <div class="icon">
             <a [routerLink]="['/petlove']"> <img src="../../../../assets/images/4.png" class="img-responsive"></a>
              <p>Vet Clinic</p>
            </div>
          </div>
          <div class="col-md-2 col-xs-3">
            <div class="icon">
             <a [routerLink]="['/petlove']"> <img src="../../../../assets/images/5.png" class="img-responsive"></a>
              <p>Pet Walker</p>
            </div>
          </div>
          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
             <a href="adoption.html"> <img src="../../../../assets/images/6.png" class="img-responsive"></a>
              <p>Adoption</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
             <a [routerLink]="['/petlove']"> <img src="../../../../assets/images/7.png" class="img-responsive"></a>
              <p>Pet Boarding</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
             <a [routerLink]="['/petlove']"> <img src="../../../../assets/images/8.png" class="img-responsive"></a>
              <p>Pet Spa</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
             <a [routerLink]="['/petlove']"> <img src="../../../../assets/images/9.png" class="img-responsive"></a>
              <p>Food</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
             <a [routerLink]="['/petlove']"> <img src="../../../../assets/images/10.png" class="img-responsive"></a>
              <p>Nutrition</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
             <a [routerLink]="['/petlove']"> <img src="../../../../assets/images/11.png" class="img-responsive"></a>
              <p>Trainer</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
             <a [routerLink]="['/petlove']"> <img src="../../../../assets/images/12.png" class="img-responsive"></a>
              <p>Pet Cab</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
             <a [routerLink]="['/petlove']"> <img src="../../../../assets/images/13.png" class="img-responsive"></a>
              <p>Rescuer</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
             <a [routerLink]="['/petlove']"> <img src="../../../../assets/images/14.png" class="img-responsive"></a>
              <p>Bark Box</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
             <a [routerLink]="['/petlove']"> <img src="../../../../assets/images/15.png" class="img-responsive"></a>
              <p>Reminder</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-3 ">
            <div class="icon">
             <a [routerLink]="['/petlove']"> <img src="../../../../assets/images/16.png" class="img-responsive"></a>
              <p>Volunteers</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  	<!-- Our Products -->
		<div class="container-fluid padding" style="background-color:#e0dddf">
		
		
      <div class="row">
      <h2 class="theme-color text-center bold"> OUR PRODUCTS</h2>
      </div>
      
      <div class="row more-padding">
      
      
      <div class="col-md-4">
      
      <div class="products">
      <h5 class="bold">BARK BOX</h5>
      <div class="product-text">
      <img src="../../../../assets/images/product1.png" class="img-responsive  img-rounded iconimg">
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus must </p>
      </div>
      </div>
      
      
      </div>
      
      <div class="col-md-4">
      
      
      <div class="products">
      <h5 class="bold">PET SANITARY PAD</h5>
      <div class="product-text">
      <img src="../../../../assets/images/product2.png" class="img-responsive  img-rounded iconimg">
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus must </p>
      </div>
      </div>
      
      
      </div>
      
      <div class="col-md-4">
      
      <div class="products">
      <h5 class="bold">TRACKING CHIP</h5>
      <div class="product-text">
      <img src="../../../../assets/images/product3.png" class="img-responsive  img-rounded iconimg">
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus must </p>
      </div>
      </div>
      
      
      
      </div>
      
      
      </div>
      </div>
      <!-- end of our products -->
      
      <!-- how it work -->
      
      <div class="container-fluid padding">
      
      
      <div class="row">
      <h2 class="theme-color text-center bold"> HOW IT WORKS</h2>
      </div>
      
      
      <div class="row more-padding">
      
      
      <div class="col-md-4">
      
      <div class="products">
      <h5 class="bold">BOOK SERVICE</h5>
      <div class="product-text">
      <img src="../../../../assets/images/work1.png" class="img-responsive img-rounded iconimg">
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus must </p>
      </div>
      </div>
      
      
      </div>
      
      <div class="col-md-4">
      
      <div class="products">
      <h5 class="bold">MATCH</h5>
      <div class="product-text">
      <img src="../../../../assets/images/work2.png" class="img-responsive img-rounded iconimg">
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus must </p>
      </div>
      </div>
      
      
      </div>
      
      <div class="col-md-4">
      
      <div class="products">
      <h5 class="bold">RELAX</h5>
      <div class="product-text">
      <img src="../../../../assets/images/work3.png" class="img-responsive img-rounded iconimg">
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus must </p>
      </div>
      </div>
      
      
      </div>
      
      </div>
      
      
      
      
      </div>
      
      <!-- end of how it work -->
      
      <!-- Journey with pet   -->
      <div class="container-fluid padding" style="background-color:#e0dddf">
      
      
      <div class="row ">
      <h2 class="theme-color text-center bold"> PETPALS - JOURNEY WITH YOUR PET</h2>
      </div>
      
      <div class="row more-padding">
      
      
      <div class="col-md-4">
      
      
      <img src="../../../../assets/images/journey.png" class="img-rounded img-responsive">
      
      
      
      
      </div>
      
      <div class="col-md-8">
      
      
      
      
      
      <div class="product-text2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet, consectetur adipiscing elit.   Morbi ut nibh eros. Orci varius natoque </p>
      </div>
      
      
      
      </div>
      
      
      </div>
      
      </div>
      <!-- end of journey -->

</div>
<app-mast-footer>

</app-mast-footer>