<app-mast-head>

</app-mast-head>
<div>
  <div class="container-fluid cover">
    <div class="row" style="margin: 10px;">
      <div class="col-md-2"></div>
      <div class="col-md-8 heading">
        One Stop Platform for all your Pet Needs
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row" style="margin:10px;">

      <div class="col-md-8 col-md-offset-2 services">
        <app-iconlist></app-iconlist>
      </div>

    </div>

  </div>

  <!-- Our Products -->

  <!-- end of our products -->

  <!-- how it work -->



  <!-- end of how it work -->

  <!-- Journey with pet   -->
  <!-- <div class="container-fluid padding" style="background-color:#e0dddf">


    <div class="row ">
      <h2 class="theme-color text-center bold"> PETPALS - JOURNEY WITH YOUR PET</h2>
    </div>

    <div class="row more-padding">


      <div class="col-md-4">


        <img  src="assets/images/journey.png" class="img-rounded img-responsive">




      </div>

      <div class="col-md-8">





        <div class="product-text2">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus must Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Morbi ut nibh eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            must Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh eros. Orci varius natoque </p>
        </div>



      </div>


    </div>

  </div> -->
  <!-- end of journey -->

</div>
<!-- downlod  -->
<div class="container-fluid padding" style="background-color:#6d718a;text-align: -webkit-center;">
  <div class="row">
    <h2 class="white-color text-center bold"> DOWNLOAD PETPALS APP ON</h2><br><br>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 padding" style="cursor:pointer">
      <a (click)="onGooglePlayClick()"> <img src="assets/images/google.png" class="img-rounded img-responsive" style="width:200px;">
      </a> </div>
    <div class="col-md-4 padding" style="cursor:pointer">
      <a (click)="onItunesClick()"> <img src="assets/images/appstore.png" class="img-rounded img-responsive" style="width:200px;">
      </a> </div>
  </div>
</div>
<!-- end of download -->
<!-- get in touch  -->

<!-- end of getintouch -->
<app-mast-footer>

</app-mast-footer>