<app-mast-head>

</app-mast-head>
<div class="container-fluid padding">


  <div class="row">
    <h2 class="theme-color text-center bold"> HOW IT WORKS</h2>
  </div>


  <div class="row more-padding">


    <div class="col-md-4">

      <div class="products">
        <h5 class="bold">BOOK SERVICE</h5>
        <div class="product-text">
          <img src="assets/images/work1.png" class="img-responsive img-rounded iconimg">

          <p>
            As a pet parent you know that your pet needs the best. Whether it is grooming, training, day
            camps, pet boarding or any other type of services you would require for pets through your
            journey with the pet, PetPals will effectively guide you to the best ones. After all, you will need
            someone to take good care of your pet in your absence when you are going out of town.
            PetPals will be delighted to be of help. </p>
        </div>
      </div>


    </div>

    <div class="col-md-4">

      <div class="products">
        <h5 class="bold">MATCH</h5>
        <div class="product-text">
          <img src="assets/images/work2.png" class="img-responsive img-rounded iconimg">

          <p>PetPals app has covered all requirements of pet owners in detail, including dating &amp; mating
            services. Pet dating is for your pets when they do not have anyone to play with &amp; are feeling
            sad or lonely. It also has a social section which allows you to get in touch with other people who
            are like you in similar situation. Pet mating service is also quite important unless you are having
            a male or female of the same species. PetPals pet care app will help in finding a suitable mate
            of the same species for your pet based upon your choice.</p>
        </div>
      </div>


    </div>

    <div class="col-md-4">

      <div class="products">
        <h5 class="bold">RELAX</h5>
        <div class="product-text">
          <img src="assets/images/work3.png" class="img-responsive img-rounded iconimg">

          <p>We are a platform for all service providers and pet lovers who can find all needs of pets at one
            place. Our love towards pets has made us build this platform which was missing until now. We
            welcome pet lovers to share their pride with others, while others appreciate your love towards
            pets. This platform is full of opportunities for pet lovers and service providers alike. </p>
        </div>
      </div>


    </div>

  </div>




</div>
<app-mast-footer>

</app-mast-footer>