<!-- footer -->

<div class="container-fluid padding theme-bg-color">

    <h4 class="text-center ">
        <i class="fa fa-facebook-f" style="cursor:pointer" (click)="onFBClick()">

        </i> &nbsp;&nbsp;<i class="fa fa-google-plus"></i>&nbsp;&nbsp;
        <i class="fa fa-instagram" style="cursor:pointer" (click)="onInstaGramClick()"></i>
        &nbsp;&nbsp;<i class="fa fa-pinterest"></i>&nbsp;&nbsp;
        <i class="fa fa-youtube" style="cursor:pointer" (click)="onYoutubeClick()"></i></h4>
    <p class="text-center ">Copyright @ 2018 Encephalon IT Services Pt Ltd</p>
    <!-- <div class="text-center ">Catalyzed by <a href="http://www.digitalcatalyst.in" rel="noreferrer" target="_blank"> <img height="30px"
        src="assets/images/dc-logo.png"></a></div> -->
</div>

<!-- end footer -->