



<!-- footer -->

<div class="container-fluid padding theme-bg-color">

  <h4 class="text-center "><i class="fa fa-facebook-f"></i> &nbsp;&nbsp;<i class="fa fa-google-plus"></i>&nbsp;&nbsp;<i
      class="fa fa-instagram"></i>&nbsp;&nbsp;<i class="fa fa-pinterest"></i>&nbsp;&nbsp;<i class="fa fa-youtube"></i></h4>
  <p class="text-center ">Copyright @ 2018 Encephalon IT Services Pt Ltd</p>
  <!-- <div class="text-center ">Catalyzed by <a href="http://www.digitalcatalyst.in" rel="noreferrer" target="_blank"> <img height="30px"
        src="assets/images/dc-logo.png"></a></div> -->
</div>

<!-- end footer -->