<app-mast-head>
</app-mast-head>

<div class="container-fluid " style="background-color:#e0dddf">
  <div class="row" style="margin-right:0px !important; ">
    <h2 class="theme-color text-center bold">My Requests</h2>
  </div>
  <div class="row more-padding" *ngIf="show">
    <div class="col-md-12" *ngFor="let requestData of loadedRequestList">
      <div class="row listing">
        <div class="row">
          <div class="col-md-3" style="padding:5px;" *ngIf="requestData.MsgStatus=='Under Screening'">
            <a href="#" class="btn btn-info btn-sm btn-block">
              <span class="glyphicon glyphicon-send"></span> In Screening
            </a></div>
          <div class="col-md-3" style="padding:5px;" *ngIf="requestData.MsgStatus!='Approved' && requestData.MsgStatus!='Under Screening'">
            <a href="#" class="btn btn-info btn-sm btn-block">
              <span class="glyphicon glyphicon-send"></span> In Screening
            </a></div>
          <div class="col-md-3" style="padding:5px;" *ngIf="requestData.MsgStatus=='Approved'">
            <a href="#" (click)="diableAnchorLink()" class="btn btn-success btn-sm btn-block">
              <span class="glyphicon glyphicon-ok"></span> Approved
            </a></div>
          <div class="col-md-3" style="padding:5px;" *ngIf="requestData.MsgStatus!='Approved'">
            <a href="#" (click)="onContactRequest(requestData.PetMatingRequestId)" data-toggle="modal"
              data-target="#withdrawRequestModal" class="btn btn-danger btn-sm btn-block">
              <span class="glyphicon glyphicon-remove"></span> withdraw
            </a></div>
          <div class="col-md-3" style="padding:5px;" *ngIf="requestData.ServiceType=='Boarding'">
            <a (click)="onModalOpen(requestData)" class="btn btn-primary btn-sm btn-block">
              <span class="glyphicon glyphicon-eye-open"></span> View
            </a></div>
        </div>
        <div class="row">
          <div class="col-xs-12 l-text">
            {{requestData.Message}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 l-text">
            {{requestData.RequestedDateTime}}
          </div>
      </div>

    <!-- <div class="col-md-4 col-xs-12 ">
          <center>
            <img src={{requestData.RequestedPetImageName}} style="height: 110px; width: 120px;" class="img-responsive img-rounded listing-mobile" />
            <a [routerLink]="['/petdetails',requestData.ReuestedPetId]" class="btn btn-danger contact-button"><i class="fa fa-eye"
                aria-hidden="true"></i> &nbsp;View </a>
          </center>
        </div> -->

    <div class="col-md-12 col-xs-12">
      <div class="row">
        <div class="col-xs-5">Service Type</div>
        <div class="col-xs-7 l-text">{{requestData.ServiceType}}</div>
      </div>
      <div class="row">
        <div class="col-xs-5">Requester Contact Details</div>
        <div class="col-xs-7 l-text">{{requestData.RequestedMobile}},{{requestData.RequestedMailId}}</div>
      </div>
      <div class="row">
        <div class="col-xs-5">Area</div>
        <div class="col-xs-7 l-text">{{requestData.RequestersAreaName}}</div>
      </div>
      <div class="row">
        <div class="col-xs-5">City</div>
        <div class="col-xs-7 l-text">{{requestData.RequestersCityName}}</div>
      </div>

      <div class="row">
        <div class="col-xs-5">Receiver Contact Details</div>
        <div class="col-xs-7 l-text">{{requestData.OwnerMobile}},{{requestData.OwnerMailId}}</div>
      </div>
      <div class="row">
        <div class="col-xs-5">Area</div>
        <div class="col-xs-7 l-text">{{requestData.OwnerAreaName}}</div>
      </div>
      <div class="row">
        <div class="col-xs-5">City</div>
        <div class="col-xs-7 l-text">{{requestData.OwnerCityName}}</div>
      </div>
    </div>

  </div>

</div>
<div class="col-md-12" *ngIf="loadedRequestList.length==0">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <img width="100%" src="assets/images/noresult.png">
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="col-sm-2">
    <!-- The  withdraw Request Modal -->
    <div class="modal fade" id="withdrawRequestModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">withdraw Request</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <h5>Are you sure you want to withdraw the request</h5>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onWithdrawRequest()">Send</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="boardingModal" [ngStyle]="{'display':displayBoardingModal}">
  <div class="modal-dialog" *ngIf='boardingRequestInfo'>
    <app-boarding [petData]="boardingRequestInfo" [isEditView]="true" [isBoardingClicked]="isBoarding"
      (closeModalPopup)="closeModal()"></app-boarding>
  </div>
</div>
<app-mast-footer>
</app-mast-footer>