<app-mast-head>

</app-mast-head>









<!-- About Us -->
<div class="container-fluid padding" style="background-color:#e0dddf">


  <div class="row">
    <h2 class="theme-color text-center bold"> GALLERY</h2>
  </div>
</div>


<!-- end of about us -->

<!-- listings -->
<div class="container-fluid padding" style="background-color:#e0dddf">



  <div class="container">

    <div class="row">
        <div class="col-sm-12 ">
            <mat-tab-group [disableRipple]=true animationDuration="0ms">
              <mat-tab  label="Cats">
                <ng-template matTabContent>
                  <div class="row" style="margin-right:0px;">
                      <div class="col-md-12">
                          <div class="gal">
                
                            <img src="../assets/images/gallery/1 (1).png" alt="" class="cat img-gal">
                
                            <img src="../assets/images/gallery/1 (2).png" alt="" class="cat img-gal">
                
                            <img src="../assets/images/gallery/1 (3).png" alt="" class="cat img-gal">
                
                            <img src="../assets/images/gallery/1 (4).png" alt="" class="cat img-gal">
                
                            <img src="../assets/images/gallery/1 (5).png" alt="" class="cat img-gal">
                            <img src="../assets/images/gallery/1 (6).png" alt="" class="cat img-gal">
                
                            <img src="../assets/images/gallery/1 (7).png" alt="" class="cat img-gal">
                
                            <img src="../assets/images/gallery/1 (8).png" alt="" class="cat img-gal">
                
                           
                
                          </div>
                
                        </div>
      
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label="Dogs">
                <ng-template matTabContent>
                  <div class="row" style="margin-right:0px;">
      
                      <div class="col-md-12">
                
                          <div class="gal">
                
                         
                            <img src="../assets/images/gallery/1 (9).png" alt="" class="dog img-gal">
                            <img src="../assets/images/gallery/1 (10).png" alt="" class="dog img-gal">
                            <img src="../assets/images/gallery/1 (11).png" alt="" class="dog img-gal">
                            <img src="../assets/images/gallery/1 (12).png" alt="" class="dog img-gal">
                
                            <img src="../assets/images/gallery/1 (13).png" alt="" class="dog img-gal">
                            <img src="../assets/images/gallery/1 (14).png" alt="" class="dog img-gal">
                            <img src="../assets/images/gallery/1 (15).png" alt="" class="dog img-gal">
                            <img src="../assets/images/gallery/1 (16).png" alt="" class="dog img-gal">
                
                            <img src="../assets/images/gallery/1 (17).png" alt="" class="dog img-gal">
                
                            <img src="../assets/images/gallery/1 (18).png" alt="" class="img-gal">
                            <img src="../assets/images/gallery/1 (19).png" alt="" class="img-gal">
                            <img src="../assets/images/gallery/1 (20).png" alt="" class="img-gal">
                            <img src="../assets/images/gallery/1 (12).png" alt="" class="img-gal">
                
                          </div>
                
                        </div>
      
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label="ALL">
                <ng-template matTabContent>
                  <div class="row" style="margin-right:0px;">
                      <div class="col-md-12">
                          <div class="gal">
                
                            <img src="../assets/images/gallery/1 (1).png" alt="" class="cat img-gal">
                
                            <img src="../assets/images/gallery/1 (2).png" alt="" class="cat img-gal">
                
                            <img src="../assets/images/gallery/1 (3).png" alt="" class="cat img-gal">
                
                            <img src="../assets/images/gallery/1 (4).png" alt="" class="cat img-gal">
                
                
                
                            <img src="../assets/images/gallery/1 (5).png" alt="" class="cat img-gal">
                            <img src="../assets/images/gallery/1 (6).png" alt="" class="cat img-gal">
                
                            <img src="../assets/images/gallery/1 (7).png" alt="" class="cat img-gal">
                
                            <img src="../assets/images/gallery/1 (8).png" alt="" class="cat img-gal">
                
                            <img src="../assets/images/gallery/1 (9).png" alt="" class="dog img-gal">
                            <img src="../assets/images/gallery/1 (10).png" alt="" class="dog img-gal">
                            <img src="../assets/images/gallery/1 (11).png" alt="" class="dog img-gal">
                            <img src="../assets/images/gallery/1 (12).png" alt="" class="dog img-gal">
                
                            <img src="../assets/images/gallery/1 (13).png" alt="" class="dog img-gal">
                            <img src="../assets/images/gallery/1 (14).png" alt="" class="dog img-gal">
                            <img src="../assets/images/gallery/1 (15).png" alt="" class="dog img-gal">
                            <img src="../assets/images/gallery/1 (16).png" alt="" class="dog img-gal">
                
                            <img src="../assets/images/gallery/1 (17).png" alt="" class="dog img-gal">
                
                            <img src="../assets/images/gallery/1 (18).png" alt="" class="img-gal">
                            <img src="../assets/images/gallery/1 (19).png" alt="" class="img-gal">
                            <img src="../assets/images/gallery/1 (20).png" alt="" class="img-gal">
                            <img src="../assets/images/gallery/1 (12).png" alt="" class="img-gal">
                
                          </div>
                
                        </div>
      
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
    </div>
  </div>
</div>

<!-- end of listings -->





<app-mast-footer>

</app-mast-footer>