<!-- Top Bar -->
<div class="container-fluid theme-bg-color ">

  <div class="container">
    <div class="row">
      <div class="col-md-1 hidden-xs hidden-sm">
        <h6><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;PETPALS</h6>
      </div>

      <div class="col-md-5">
        <h6><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;+91 91484 30613 / +91 6364045762</h6>
      </div>

      <div class="col-md-3 hidden-xs hidden-sm">
        <h6 *ngIf="isUserLoggedIn">Hi {{loggedinUserName}}</h6>
      </div>

      <div class="col-md-2 hidden-xs hidden-sm">
        <h6 class="pull-right">
          <i class="fa fa-facebook-f" style="cursor:pointer" (click)="onFBClick()"> </i> &nbsp;&nbsp;
          <!-- <i class="fa fa-google-plus"></i>&nbsp;&nbsp; -->
          <i class="fa fa-instagram" style="cursor:pointer" (click)="onInstaGramClick()">
          </i>&nbsp;&nbsp;<i class="fa fa-pinterest" style="cursor:pointer" (click)="onPinterestClick()"></i>&nbsp;&nbsp;<i
            class="fa fa-youtube" style="cursor:pointer" (click)="onYoutubeClick()"></i></h6>
      </div>
      <div class="col-md-1 hidden-xs hidden-sm ">
        <h6 class="pull-left special-icon">
          <i class="fa fa-apple"  style="cursor:pointer" (click)="onItunesClick()"></i></h6>
        <h6 class="pull-left special-icon"> <i class="fa fa-android"  style="cursor:pointer" (click)="onGooglePlayClick()"></i></h6>
      </div>




    </div>
  </div>


</div>
<!-- End Top Bar -->


<!-- Menu -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand navbar-brand-centered"><img src="assets/images/logo.png" class="img-responsive logo"></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-brand-centered">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/home']" class="first">Home</a></li>
        <li><a [routerLink]="['/about']">About</a></li>
        <li><a [routerLink]="['/services']">Services</a></li>
        <li><a [routerLink]="['/products']">Products</a></li>

        <!-- <li><a [routerLink]="['/gallery']">Gallery</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a [routerLink]="['/events']">Event</a></li>
        <li><a href="blog.html">Blog</a></li> -->
        <li><a [routerLink]="['/contactus']">Contact Us</a></li>

        <!-- <li class="hidden-sm hidden-xs"><a href="#"><span class="fa fa-bars"></span></a></li> -->
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="fa fa-bars"></span></a>
          <ul class="dropdown-menu" id="menu1">
            <!-- <li>
              <a href="#">2-level Menu <i class="icon-arrow-right"></i></a>
              <ul class="dropdown-menu sub-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="nav-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
            <li><a [routerLink]="['/signup']" *ngIf="!isUserLoggedIn">Sign Up</a></li>
            <li><a [routerLink]="['/signin']" *ngIf="!isUserLoggedIn">Sign In</a></li>
            <li><a [routerLink]="['/myprofile']" *ngIf="isUserLoggedIn">My Profile</a></li>
            <li><a [routerLink]="['/myrequests']" *ngIf="isUserLoggedIn">My Requests</a></li>
            <li><a [routerLink]="['/mypets']" *ngIf="isUserLoggedIn">My Pets</a></li>
            <li><a *ngIf="isUserLoggedIn" style="cursor: pointer;" (click)="logout()">Logout</a></li>

            <!-- <li class="divider"></li> -->
            <!-- <li><a href="#">Separated link</a></li> -->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- Menu End -->