<app-mast-head>

</app-mast-head>



<div class="container-fluid " style="background:#f9f9f9">


  <div class="row" style="margin:20px;">

    <div class="col-md-8">

      <img src="assets/images/bg1.png" class="img-responsive" />


    </div>

    <div class="col-md-4 form-login">


      <center>
        <h2 class="theme-color  bold"> LOG IN</h2>
      </center>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="userName" placeholder="usernaame">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="password" placeholder="password">
      </div>
      <div class="form-group">
        <a href="#">Forgot Password ?</a>
      </div>
      <center>
        <button type="button" class="btn btn-danger" (click)="onSignInClick()">SIGN IN</button>
        <a href="#" class="register-link">REGISTER</a>
      </center>
    </div>
  </div>

</div>















<app-mast-footer>

</app-mast-footer>