<div class="row iconsClass">
  <div class="col-md-2 col-xs-3 ">
    <div class="icon">
      <center><a [routerLink]="['/petlove/Boarding']"> <img src="assets/images/pet_boarding.png" class="img-responsive imageClass">
      <p>Pet Boarding</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3">
    <div class="icon">
      <center><a [routerLink]="['/petlove']"> <img src="assets/images/petlove.png" class="img-responsive imageClass">
      <p>Pet Love</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3 ">
    <div class="icon">
      <center><a [routerLink]="['/petlove/Adoption']"> <img src="assets/images/6.png" class="img-responsive imageClass">
      <p>Adoption</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3 ">
    <div class="icon">
      <center><a (click)="onExternalLinkClick('barbox')"> <img src="assets/images/14.png" class="img-responsive imageClass">
      <p>Paw's wonder</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3 ">
    <div class="icon">
      <center><a (click)="onExternalLinkClick('wagandtail')"> <img src="assets/images/WL.jpg" class="img-responsive imageClass">
      <p>Wage & Love</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3 ">
    <div class="icon">
      <center><a [routerLink]="['/petlove/Cab']"> <img src="assets/images/cab.png" class="img-responsive imageClass">
      <p>Pet Cab</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3 ">
    <div class="icon">
      <center><a (click)="onExternalLinkClick('food')"> <img src="assets/images/home_delivery.png" class="img-responsive imageClass">
      <p>Food</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3">
    <div class="icon">
      <center><a [routerLink]="['/petlove/Walker']"> <img src="assets/images/5.png" class="img-responsive imageClass">
      <p>Pet Walker</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3 ">
    <div class="icon">
      <center><a [routerLink]="['/petlove/Trainer']"> <img src="assets/images/training.png" class="img-responsive imageClass">
      <p>Trainer</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3 ">
    <div class="icon">
      <center><a [routerLink]="['/petlove/Spa']"> <img src="assets/images/pet_spa.png" class="img-responsive imageClass">
      <p>Pet Spa</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3">
    <div class="icon">
      <center><a (click)="onExternalLinkClick('snapdeal')"> <img src="assets/images/petneeds.png" class="img-responsive imageClass">
      <p>Pet Needs</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3">
    <div class="icon">
      <center><a (click)="onStoresClick()"> <img src="assets/images/3.png" class="img-responsive imageClass">
      <p>Stores</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3">
    <div class="icon">
      <center><a (click)="onClinicClick()"> <img src="assets/images/4.png" class="img-responsive imageClass">
      <p>Vet Clinic</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3 ">
    <div class="icon">
      <center><a (click)="onExternalLinkClick('nutrition')"> <img src="assets/images/nutrition.png" class="img-responsive imageClass">
      <p>Nutrition</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3 ">
    <div class="icon">
      <center><a [routerLink]="['/petlove/Rescuer']"> <img src="assets/images/rescuer.png" class="img-responsive imageClass">
      <p>Rescuer</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3 ">
    <div class="icon">
      <center><a [routerLink]="['/petlove']"> <img src="assets/images/15.png" class="img-responsive imageClass">
      <p>Reminder</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3 ">
    <div class="icon">
      <center><a [routerLink]="['/petlove/Volunteers']"> <img src="assets/images/volunteers.png" class="img-responsive imageClass">
      <p>Volunteers</p></a></center>
    </div>
  </div>
  <div class="col-md-2 col-xs-3 ">
    <div class="icon">
      <center><a [routerLink]="['/petnews']"> <img src="assets/images/NewsIcon.jpg" class="img-responsive imageClass">
      <p>News</p></a></center>
    </div>
  </div>
</div>