<app-mast-head>
</app-mast-head>
<div class="container-fluid padding" id="contact">
  <div class="row">


    <div class="col-md-4 col-md-offset-2 ">

      <h2 class="theme-color bold"> GET IN TOUCH</h2><br><br>


      <!-- Contact info -->

      <p><i class="fa fa-envelope theme-color"></i><a href="mailto:varsha@petpals.love">&nbsp;varsha@petpals.love</a>
        or call us</p>
      <p><i class="fa fa-phone theme-color"></i> &nbsp;&nbsp;<a href="tel:+1 (203) 587 0578">+91 9632232118</a> <br> <a
          href="tel:+9163640457623"> +91 6364045762 (Adoption)</a></p>

      <br>
      <!-- Adress info -->
      <h4>Location &amp; Time</h4>
      <p><i class="fa fa-map-marker theme-color"></i>&nbsp;&nbsp;We are omnipresent in US and India</p>
      <br>
      <p><i class="fa fa-clock-o theme-color"></i>&nbsp;&nbsp;Open from 9 a.m to 10 p.m local time on weekdays <br>
        from 9 a.m to 2 p.m local time in weekends.</p>
    </div>

    <div class="col-md-4">

      <h2 class="theme-color  bold"> We care for pets! <br>Contact us for More</h2>
      <div *ngIf="!isUserLoggedIn">
        <div class="form-group">
          <label for="email">Name:</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="name">
        </div>
        <div class="form-group">
          <label for="email">Mobile:</label>
          <input type="mobile" numbersOnly maxlength="10" minlength="10" class="form-control" id="mobile" [(ngModel)]="mobile">
        </div>
        <div class="form-group">
          <label for="email"><sup style="color: red">*</sup>Email:</label>
          <input type="email" class="form-control" id="email" [email]="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            [(ngModel)]="email">
        </div>
      </div>
      <div class="form-group" *ngIf="isUserLoggedIn">
        <label for="subject">Subject:</label>
        <input type="text" class="form-control" id="subject" [(ngModel)]="subject">
      </div>
      <div class="form-group">
        <label for="email">Message:</label>
        <textarea class="form-control" rows=4 [(ngModel)]="message"> </textarea>
      </div>
      <button type="button" (click)="onContactClick()" class="btn btn-danger">SUBMIT</button>
    </div>
  </div>
</div>
<app-mast-footer>
</app-mast-footer>